body{
    height: 100vh;
    background: #000115;
    cursor: none;
}

.main{
    height: 100vh;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>h1{
    font-size: 5rem;
}

.cursor{
    z-index: 999;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    pointer-events: none;
    box-shadow: 0px 0px 20px #2696E8,0px 0px 60px #2696E8,0px 0px 100px #2696E8 ;
    background-color: #2696E8;
    animation: colors 5s infinite;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2696E8;
    opacity: .2;
    transform: translate(-30%,-30%);
}